<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="orchestrator-service"/>
    <springProperty scope="context" name="hostname" source="HOSTNAME" defaultValue="localhost"/>

    <!-- Console JSON Appender for structured logging -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                </timestamp>
                <version/>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                    <includeMdcKeyName>parentSpanId</includeMdcKeyName>
                </mdc>
                <pattern>
                    <pattern>
                        {
                            "service": "${appName}",
                            "host": "${hostname}",
                            "thread": "%thread"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <!-- File JSON Appender -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${appName}.json.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                </timestamp>
                <version/>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                    <includeMdcKeyName>parentSpanId</includeMdcKeyName>
                </mdc>
                <pattern>
                    <pattern>
                        {
                            "service": "${appName}",
                            "host": "${hostname}",
                            "thread": "%thread"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${appName}.json.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Loki Appender for log aggregation -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>service=${appName},host=${hostname},level=%level</pattern>
            </label>
            <message>
                <pattern>{"@timestamp":"%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","logger":"%logger{36}","message":"%message","traceId":"%mdc{traceId}","spanId":"%mdc{spanId}","service":"${appName}","host":"${hostname}"}%nopex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
        <appender-ref ref="FILE_JSON"/>
        <appender-ref ref="LOKI"/>
    </root>

    <!-- Application logger -->
    <logger name="com.example.tracing" level="INFO"/>
    
    <!-- Reduce Spring Boot startup noise -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
</configuration>
